__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/

.venv/
.venv311/

.env
.env.*

.DS_Store

mlruns/
mlflow.db
mlflow-serve.log
mlflow-serve.pid

spark-warehouse/
metastore_db/
derby.log
*.crc

data/predictions/
